.report-card {
    background: var(--primary-color);
    border-radius: 8px;
    padding: 1.5rem;
    transition: box-shadow 0.2s ease;
    border: 1px solid var(--accent-color);
    margin-bottom: 1rem;
}

.report-card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.report-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 640px) {
    .report-header {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
}

.report-title-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.report-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--header-color);
}

.status-badge {
    display: inline-flex;
    align-items: center;
    border-radius: 9999px;
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.status-span-reviewed {
    background: rgb(220, 252, 231);
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: rgb(54, 101, 52);
    font-weight: 500;
}

.status-span-pending {
    background: rgb(254, 243, 199);
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: rgb(174, 64, 14);
    font-weight: 500;
}

.report-date {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--text-color);
}

.icon-small {
    margin-right: 0.25rem;
    width: 1rem;
    height: 1rem;
}

/* .report-summary {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    color: var(--text-color);
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

.report-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.report-btn-icon {
    border: 1px solid var(--accent-color);
    background: transparent;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--header-color);
    display: flex;
    align-items: center;
}

.report-btn-icon:hover {
    background: var(--secondary-color);
}

.icon-medium {
    width: 1.25rem;
    height: 1.25rem;
}

.report-feedback {
    margin-top: 1rem;
    background: var(--secondary-color);
    border-radius: 6px;
    padding: 0.75rem;
}

.feedback-title {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
}

.feedback-comment {
    font-size: 0.875rem;
    color: var(--label-color);
}


.feedback-meta {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: var(--text-color);
}

.report-footer {
    margin-top: 1rem;
    border-top: 1px solid #f3f4f6;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: var(--text-color);
}

.footer-info {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 0.25rem;
}