.module-card {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
}

.module-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.module-card-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: #b45309;
}

.module-card-details {
  margin-left: 1rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.module-card-details strong {
  color: var(--label-color);
}
.module-card-info-text {
  height: 10vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.module-card-info-text span {
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  color: var(--header-color);
}
.module-card-info-text p {
  font-size: var(--sub-header-font-size);
  color: var(--text-color);
  margin: 0;
}
.module-card-icon-box {
  height: 100%;
  background-color: #fef3c7;
  padding: 10px;
  border-radius: 10px;
}
.module-card-action-buttons {
  display: flex;
}
.module-card-action-buttons button {
  background: none;
  border: none;
}
.module-card-action-icon {
  color: var(--text-color);
}
.module-name {
  font-size: var(--header-font-size);
}
.student-group-count {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.student-group-count strong {
  color: var(--label-color)
}
